@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Lobster&subset=cyrillic");
html {
  background-color: #111111;
  margin: 0;
  font-size: 0;
  padding: 0;
}

body {
  min-width: 260px;
}

* {
  font-family: "Lobster", cursive;
  outline: none;
  text-decoration: none;
}

.main_section_block {
  padding-bottom: 5vh;
  overflow-x: hidden;
  background: url("../img/dark-background.jpg") no-repeat fixed;
  background-size: cover;
}
.main_section_block .v_info {
  background: rgba(34, 36, 38, 0.74);
  width: 30%;
  max-height: 80vh;
  border-radius: 25px;
  padding: 15px;
  box-shadow: 0 0 15px 1px black;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  color: white;
  text-align: center;
}
.main_section_block .v_info > * {
  padding: 1vh;
}
.main_section_block .v_info h1 {
  font-size: 34px;
  text-shadow: 2px 2px 2px #191919;
}
.main_section_block .v_info h2 {
  font-size: 20px;
  text-shadow: 2px 2px 2px #1C6EA4;
}
.main_section_block .v_info p {
  font-family: "Dancing Script", cursive;
  text-shadow: 2px 2px 2px #191919;
  font-size: 16px;
}
.main_section_block .v_home-anchor {
  top: -7vh;
  position: absolute;
}

.scroll-down {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 200;
  font-size: 60px;
  text-shadow: 0 0 15px #000000;
  color: rgba(255, 255, 255, 0.71);
  -webkit-transition: linear 0.1s;
  transition: linear 0.1s;
}
.scroll-down:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  outline: none;
  color: white;
  text-decoration: none;
  text-shadow: 0 0 15px #ffffff;
}

.v_sect1_slider {
  width: 100%;
  margin: 7vh 0 0 0;
}
.v_sect1_slider .sl_1 {
  background: url("../img/img1.jpg") no-repeat center;
  background-size: cover;
}
.v_sect1_slider .sl_2 {
  background: url("../img/img2.jpg") no-repeat center;
  background-size: cover;
}
.v_sect1_slider .sl_3 {
  background: url("../img/img3.jpg") no-repeat center;
  background-size: cover;
}
.v_sect1_slider .slider-inner {
  box-shadow: inset 0 -60px 100px -16px rgba(0, 0, 0, 0.93);
  height: 93vh;
  background-size: cover;
  width: 100%;
}
.v_sect1_slider .slick-prev {
  left: 0;
  top: 0;
}
.v_sect1_slider .slick-next {
  top: 0;
  right: 0;
}
.v_sect1_slider .slick-arrow {
  position: absolute;
  display: inline-block;
  z-index: 50;
  width: 10vw;
  background: none;
  border: none;
  outline: none;
  height: 93vh;
}
.v_sect1_slider .slick-dots {
  padding: 0;
  position: absolute;
  z-index: 100;
  bottom: 7vh;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.v_sect1_slider .slick-dots button {
  display: none;
}
.v_sect1_slider .slick-dots > * {
  display: inline-block;
  margin: 5px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #3c3c3c;
  border: 1px solid #ffffff;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  opacity: 0.5;
}
.v_sect1_slider .slick-dots > *:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.v_sect1_slider .slick-dots li {
  background: #fff;
}
.v_sect1_slider .slick-dots .slick-active {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  background: #2d2d2d;
  border: 1px solid #ffffff;
}

.v_sect2 {
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.87);
  border-radius: 25px 25px;
  margin-top: 5vh;
  box-sizing: border-box;
  padding: 2vh 2vw;
  background: #ffffff;
  min-height: 100vh;
}
.v_sect2 hr {
  width: 90%;
}
.v_sect2 > * {
  padding: 2vh 0;
}
.v_sect2 .v_blog {
  min-height: 100vh;
  position: relative;
}
.v_sect2 .v_blog h1 {
  width: 100%;
  text-align: center;
  font-size: 32px;
  color: #1f2123;
  padding-bottom: 4vh;
}
.v_sect2 .v_blog .blog-inner h2 {
  font-weight: bold;
  font-size: 20px;
  padding: 2vh 2vw;
  color: #333537;
}
.v_sect2 .v_blog .blog-inner img {
  width: 100%;
  height: auto;
}
.v_sect2 .v_blog .blog-inner p {
  font-size: 20px;
  color: #383a3c;
  padding-bottom: 2vh;
}
.v_sect2 .v_blog .blog-inner a {
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  text-align: right;
  display: inline-block;
  font-size: 18px;
  padding-bottom: 5vh;
  padding-right: 2vw;
}
.v_sect2 .v_gallery {
  position: relative;
  min-height: 100vh;
}
.v_sect2 .v_gallery h1 {
  width: 100%;
  text-align: center;
  font-size: 32px;
  color: #000;
  padding-bottom: 4vh;
}
.v_sect2 p {
  font-size: 20px;
  text-align: center;
}
.v_sect2 p span {
  color: #a0a0a0;
}
.v_sect2 .v_anchor {
  position: absolute;
  top: -11vh;
}

.v_header {
  box-shadow: inset 0 -10px 15px -9px rgba(149, 149, 149, 0.75);
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  background-color: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.v_header .v_header_inner {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.v_header .v_logo {
  font-family: "Dancing Script", cursive;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  color: white;
  display: inline-block;
}
.v_header .links a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 0 8px;
}
.v_header .hamburger {
  position: relative;
  z-index: 150;
  width: 4vh;
  height: 4vh;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  cursor: pointer;
}
.v_header .hamburger .hamburger-inner {
  display: none;
  -webkit-transition: linear all 0.2s;
  transition: linear all 0.2s;
  background: #fff;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}
.v_header .v_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
.v_header .v_nav .v_scroll-top {
  font-size: 50px;
  color: white;
}
.v_header .v_nav a {
  text-decoration: none;
  display: inline-block;
  padding: 0 7px;
  color: #ffffff;
  font-size: 15px;
}
.v_header .v_logo, .v_header .links a, .v_header .v_nav a {
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
}
.v_header .v_logo:hover, .v_header .links a:hover, .v_header .v_nav a:hover {
  text-shadow: 0 0 5px #FFFFFF;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.v_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 15vh;
  background: #111111;
}
.v_footer span {
  text-align: center;
  font-size: 14px;
  color: #a4a4a4;
}
.v_footer span a {
  font-style: italic;
  font-size: 14px;
}
.v_footer .v_footer_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.v_footer .v_logo {
  font-family: "Dancing Script", cursive;
  text-decoration: none;
  text-align: left;
  font-size: 16px;
  color: white;
  display: inline-block;
}
.v_footer .footer-inner_row {
  width: 100%;
}
.v_footer .footer-inner_row .footer-links {
  text-align: right;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.v_footer .footer-inner_row .footer-links a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 0 1vw;
}
.v_footer .v_logo, .v_footer .links a, .v_footer .v_nav a, .v_footer .footer-links a {
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
}
.v_footer .v_logo:hover, .v_footer .links a:hover, .v_footer .v_nav a:hover, .v_footer .footer-links a:hover {
  text-shadow: 0 0 5px #FFFFFF;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/*# sourceMappingURL=main.css.map */
