$sliderHeight: 93;
@mixin linkHover($bg) {
  &:hover {
    background: lighten($bg, 5%);
  }
}
@media all and (max-width: 900px){
  .v_sect1 {
    //min-width: 260px;
  }
  .main_section_block {
    .v_info {
      width: 80%;
      //min-width: 260px;
    }
  }
}
@media all and (max-width: 768px) {
  .v_header {
    min-width: 260px;
    .hamburger {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      .hamburger-inner {
        display: block;
      }

      .active_hamburger {
        -webkit-transition: linear all 0.2s;
        -o-transition: linear all 0.2s;
        transition: linear all 0.2s;
        position: absolute;

        &:nth-child(1) {
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          display: none;
        }

        &:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }
    }

    .v_nav {
      -webkit-transition: all linear 0.2s;
      -o-transition: all linear 0.2s;
      transition: all linear 0.2s;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: start;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      left: 100%;
      background: #111111;
      position: fixed;
      width: 100%;
      top: 7vh;
      height: 93vh;

      a {
        -webkit-transition: linear 0.2s;
        -o-transition: linear 0.2s;
        transition: linear 0.2s;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        font-size: 20px;
        padding: 2vh 5vw;
        border-top: none;
        border-right: 50px solid rgba(0, 0, 0, 0);
        border-left: 20px solid rgba(0, 0, 0, 0);
        border-bottom: 1px solid #aeaeae;
        @include linkHover(#2c2c2c);

        &:first-of-type {
          font-weight: bold;
          background: #2a422a;
          @include linkHover(#2a422a);
        }

        &:last-of-type {

          padding-top: 5vh;
        }

        &:hover {
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
        }
      }
    }
  }
  .main_section_block {
    .v_info {
      width: 90%;
      min-width: 260px;
    }
  }
  .v_sect1_slider {
    .slick-dots {
      & > * {
        width: 12px;
        height: 12px;
      }
    }
  }

  .v_logo {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .active_nav {

    -webkit-transition: all linear 0.2s;

    -o-transition: all linear 0.2s;

    transition: all linear 0.2s;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }


  .links {
    display: none;
  }


  .slick-dots {
    & > * {
      width: 12px;
      height: 12px;
    }
  }
  .scroll-down {
    font-size: 40px;
  }
  .v_footer_inner {
    padding: 3vh 0;
    margin: 0 auto;

    .footer-inner_row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      padding: 0;
      margin: 0;
      width: 100%;

      & > * {
        padding: 2vh;
      }

      .footer-links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        //width: 100%;
        -ms-flex-pack: distribute;
        justify-content: space-around;

        a {
          padding: 2vw;
          font-size: 35px;
        }

      }
    }
  }

}